<%- include('head/header') %>
<div id="page-content-wrapper">
    <div class="container" style="margin-left: 248px;">
      <div class="row mt-5">
        <div class="col-lg-12">
          <h1>Insert Categories</h1>
          <% if (locals.msg) { %>
            <div class="alert alert-dismissible fade show alert-danger alert-<%= msg.type%>" role="alert">
             <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
             <strong><%= msg %></strong>
           </div>
  
           <% } %>
            <form action="/categories" method="post">
                <label for="name">Categorie Name</label>
                <input type="text" id="name" name="name">
                <input type="submit" value="Insert Categorie">
            </form>
        </div>
      </div>
    </div>
  </div>
<%- include('head/footer') %>