<%- include('head/header') %>
<div id="page-content-wrapper">
    <div class="container" style="margin-left: 248px;">
      <div class="row mt-5">
        <div class="col-lg-12">
          <h1>Insert Brands</h1>
          <div id="show-error"></div>
            <form action="/brands" method="post" id="brand-form">
                <label for="name">Brand Name</label>
                <input type="text" id="name" name="name">
                <input type="submit" value="Insert Brand">
            </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.getElementById('brand-form').addEventListener('submit',async(e)=>{
      try {
        e.preventDefault();
        const formdata=new FormData();
        formdata.append('name',document.getElementById('name').value.trim());
        const response=await fetch('/brands',{
          method:'post',
          body:formdata
        })
        const resbody=await response.json();
        if(resbody.success){
          Swal.fire({
            position: "top-center",
            icon: "success",
            title: "New category has been saved",
            showConfirmButton: false,
            timer: 1500
          });
          setTimeout(() => {
            location.href='/brands'
          }, 500);
        }else{
          document.getElementById('show-error').innerHTML=`
          <div class="alert alert-dismissible fade show alert-danger alert-danger" role="alert">
             <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
             <strong>${resbody.message}</strong>
           </div>`
        }
      } catch (error) {
        console.log(error)
      }
    })
  </script>
<%- include('head/footer') %>