<%- include('head/header') %>
  <div id="page-content-wrapper">
    <div class="container" style="margin-left: 248px;">
      <div class="row mt-5">
        <div class="col-lg-12">
          <h1>Insert Categories</h1>
          <div id="category-error"></div>
          <form action="/categories" method="post" id="category-form">
            <label for="name">Category Name</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Insert Category">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/admin/addcategories.js"></script>
  <%- include('head/footer') %>