<%- include('head/header') %>

<div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>PRODUCTS</h1>
          <table class="table border">
            <thead>
              <tr>
                <th scope="col">sl.no</th>
                <th scope="col">Title</th>
                <th scope="col">Brand</th>
                <th scope="col">Categorie</th>
                <th scope="col">Price</th>
                <th scope="col">Stock left</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Carburator</td>
                <td>Bajaj</td>
                <td>fuel and engine system</td>
                <td>700</td>
                <td>12</td>
                <td>Carburator Medium Quality. one year warranty.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bajaj</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Engine and fuel system</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>   

        </div>
      </div>
    </div>
  </div>

<%- include('head/footer') %>
