<%- include('head/header') %>

<div id="page-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>USERS</h1>
          <button type="button" class="btn btn-outline-success float-end mb-2">Add User</button>
          <table class="table border">
            <thead>
              <tr>
                <th scope="col">sl.no</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Password</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Adarsh.C</td>
                <td>adarshshanu3@gmail.com</td>
                <td>7356683993</td>
                <td>adarsh</td>
                <td><a href="#"><i class="fa-solid fa-pen-to-square text-success"></i></a><a href="#"><i class="fa-solid fa-trash text-danger ms-3"></i></a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bajaj</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Engine and fuel system</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>   

        </div>
      </div>
    </div>
  </div>

<%- include('head/footer') %>