<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title?title:SpareKit %></title>
    <link rel="stylesheet" href="/static/user.css">
    <script src="https://kit.fontawesome.com/718fa3d4ba.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-1 fw-bold ms-4 text-danger " href="/">Spare<span
                        class="text-dark">KIT</span></a>
                <form action="/search-product" class="d-flex ms-5" method="post">
                    <input class="inp rounded-pill p-2" type="search" name="value" placeholder="Search">
                    <button class="btn" type="submit"></button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ms-auto fs-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu p-4 fs-5" aria-labelledby="navbarDropdown">
                                <% if (!locals.NoUser) { %>
                                    <li><a class="dropdown-item" href="/users/login"><i class="fa-solid fa-user"></i> My
                                            Profile</a></li>
                                    <% }else{ %>
                                        <li><a class="dropdown-item" href="/profile"><i class="fa-solid fa-user"></i> My
                                                Profile</a></li>
                                        <% } %>
                                            <% if (!locals.NoUser) { %>
                                                <li><a class="dropdown-item" href="/users/signup">Sign Up</a></li>
                                                <% } %>
                                                    <% if (locals.NoUser) { %>
                                                        <li><a class="dropdown-item" href="/wishlist">Wish List</a></li>
                                                        <% } %>

                                                            <% if (locals.NoUser) { %>
                                                                <li><a class="dropdown-item"
                                                                        href="/carts/orders">Orders</a></li>
                                                                <% } %>
                                                                    <% if (locals.NoUser) { %>
                                                                        <li><a class="dropdown-item"
                                                                                onclick="sharePage()">Share</a></li>
                                                                        <% } %>

                                                                            <li><a class="dropdown-item"
                                                                                    href="#">contact</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/wallet">My
                                                                                    Wallet</a></li>
                                                                            <% if (locals.NoUser) { %>
                                                                                <li><a class="dropdown-item"
                                                                                        onclick="logOut()">logout</a>
                                                                                </li>
                                                                                <% } %>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/carts">Cart
                                <i class="fa-solid fa-cart-shopping fs-2 text-danger"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    